/* margine e stile del body */
body{
  margin-left: 15%;
  margin-right: 15%;
  background: url('../img/cielo.jpg');
  background-repeat: no-repeat;



}

/* stile del logo */
#nome-servizio{
  display: inline-block;
  margin-left: 10%;
  font-size: 380%;
  font-family: catalunya, verdana, arial;
  font-weight: bolder;
  text-decoration: underline;
  text-shadow: 2px 1px #991019;
}

/* stile testo sotto la searchbar */
#yourmail{
  font-size: 140%;
  font-weight: bolder;
  font-family: sunflower, sans-serif, verdana;
  text-align: center;
  text-decoration: underline;

}

#numero {
  background-color: orange;
  border-radius: 50%;
  padding: 3px;
}

/* stile footer */

#credits{
  text-align: center;
  font-size: 1.1em;
  font-family: chapaza, cursive, verdana;
  font-weight: bolder;
}
/* bordi seatchbar e pulsante */
.searchbar{
  border: 1px solid black;
}

/* stile delle immagini di fianco alla mail */
.letta{
  height: 15px;
}

.non-letta{
  height: 15px;
}

/* stile delle mail */

.mail {
  font-family: chapaza, cursive, verdana;
  border: 1px solid black;
  padding-top: 3px;
  box-sizing: content-box;
  margin: 1px;
  font-size: 1.1em;
  background-color: lightgrey;
}

.unread-mail {
  font-family: chapaza, cursive, verdana;
  border: 1px solid black;
  padding-top: 3px;
  box-sizing: content-box;
  margin: 1px;
  font-size: 1.1em;
  background-color: white;
}

/* effetto hover */
.mail:hover {
  background-color: lightblue;
}

.unread-mail:hover{
  background-color: lightblue;
}





/* font personalizzati */

@font-face { font-family: catalunya;
  src: url(../fonts/catalunya.ttf);

}

@font-face { font-family: chapaza;
  src: url(../fonts/chapaza.ttf);

}

@font-face { font-family: sunflower;
  src: url(../fonts/sunflower.otf);

}
